﻿@using PagedList.Mvc
@model PagedList.IPagedList<Vinoteca.Web.ViewModels.Variedad.VariedadListVm>

@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between w-95">
    <h2>Lista de Variedades</h2>
    <p>
        @Html.ActionLink("Nueva", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>

<table class="border-0 table table-bordered table-hover table-dark w-100">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreVariedad)
        </th>

        <th style="width:140px">Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreVariedad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.VariedadId }, new { @class = "btn btn-sm btn btn-warning" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.VariedadId }, new { @class = "btn btn-sm btn btn-danger" })
            </td>
        </tr>
    }

</table>
Página: @(Model.PageCount < Model.PageNumber? 0 : Model.PageNumber) de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    pageSize = ViewBag.PageSize
}))


